<?xml version="1.0"?>
<config>
  <modules>
    <mpesa>
      <version>0.1.0</version>
    </mpesa>
  </modules>
  <global>
    <models>
      <mpesa>
        <class>mpesa_Model</class>
      </mpesa>
    </models>
    <helpers>
      <mpesa>
        <class>mpesa_Helper</class>
      </mpesa>
    </helpers>
    <blocks>
      <mpesa>
        <class>mpesa_Block</class>
      </mpesa>
    </blocks>
  </global>
  <default>
    <payment>
      <mpesa>
        <model>mpesa/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>mpesa</title>
        <payment_action>authorize</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </mpesa>
    </payment>
  </default>
  <frontend>
    <routers>
      <mpesa>
        <use>standard</use>
        <args>
          <module>mpesa</module>
          <frontName>mpesa</frontName>
        </args>
      </mpesa>
    </routers>
  </frontend>
</config>